# Webinar: Python Dictionaries (solutions)

by [Luciano Gabbanelli](https://www.linkedin.com/in/luciano-gabbanelli-ph-d-75302218)

<img width=80 src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.gif">

<img width=150 src="Images/Assembler.png">

***

## List are not always the best option

Imagine that you want to store information about a person. If you use a list, it would have this structure:

In [ ]:
Lucho = [38, 'Luciano', 'Gabbanelli', 'Buenos Aires', 'physicist', 1.69, False, ['Eze', 'Dami', 'Nadia']]

- Print the list

In [1]:
# Type the code here:
Lucho

[38,
 'Luciano',
 'Gabbanelli',
 'Buenos Aires',
 'physicist',
 1.69,
 False,
 ['Eze', 'Dami', 'Nadia']]

Clearly, a list is not the better option for this type of data. It is difficult to manipulate, idexes change if I change the elements (remember `.append()`, `.insert()` or `extend()` methods)

## Dictionaries

Dictionaries store data values in key(properties):value pairs.

A dictionary is a collection which is ordered<a name="cite_ref-1"></a>[<sup>[1]</sup>](#cite_note-1), changeable<a name="cite_ref-2"></a>[<sup>[2]</sup>](#cite_note-2) and do not allow duplicates<a name="cite_ref-3"></a>[<sup>[3]</sup>](#cite_note-3).

Dictionaries are written with curly brackets, `{...}`.

Values can store any type of data: strings, floats, lists, tuples, etc., and even dictionaries. The keys are also not required to be strings only.


**Dictionaries makes thigs easier :)**

*Bot not always! When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean an increase in efficiency or security.*

<br>
<br>

<a name="cite_note-1"></a> [[1]](#cite_ref-1) Only from version 3.7 onwards, dictionaries' items have a defined order, and that order will not change.

<a name="cite_note-2"></a> [[2]](#cite_ref-2) Ee can change, add or remove items after the dictionary has been created.

<a name="cite_note-3"></a> [[3]](#cite_ref-3) Dictionaries cannot have two items with the same key.

- Create a dictionary for the previous data (we can even define nested dictionaries :D):

In [4]:
# Type the code here:
people = {
    'name': 'Luciano',
    'surname': 'Gabbanelli',
    'age': 38,
    'city_of_birth': 'Buenos Aires',
    'education': 'physicist',
    'height': 1.69,
    'has_children': False,
    'friends':['Eze', 'Dami', 'Nadia'],
    'occupation':{
        'name': 'Tech lead',
        'hours_per_week': 40,
        'days_of_vacations': 30
    }
}

In [3]:
people

{'name': 'Luciano',
 'surname': 'Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30}}

In [4]:
type(people)

dict

### Dictionary length

`len()` returns how many items a dictionary has.

In [5]:
# Type some code here:
len(people)

9

### Accessing items

- Access an element of the previous dictionary:

In [6]:
# Type some code here:
type(people[1])

KeyError: 1

To access an item in a dictionary, you must refer to its key name, enclosed in square brackets or by meand of the `get()` method:

In [7]:
# Type some code here:
people['name']

'Luciano'

In [8]:
people.get('surname')

'Gabbanelli'

In [9]:
type(people['has_children'])

bool

In [5]:
type(people.get('friends'))

list

In [11]:
type(people['occupation'])

dict

### Obtain all keys

The `keys()` method will return a list of all the keys in a dictionary (you can store the list in a variable if you wish).

The list of the keys gives a view of the features of a dictionary; any changes done to the dictionary will be reflected in the keys list.

In [12]:
# Type some code here:
people_keys = people.keys()

In [13]:
len(people_keys) == len(people)

True

- Redefine the `'name'` key to include both first and last name, and then check how the keys have been modified:

In [14]:
# Type some code here:
people['name'] = people['name'] + ' ' + people['surname']

In [10]:
del people['surname']

In [16]:
people_keys

dict_keys(['name', 'age', 'city_of_birth', 'education', 'height', 'has_children', 'friends', 'occupation'])

### Obtain all values

The `values()` method provides a list with all the values in the dictionary.

If values change, they will be reflected in the values list.

In [17]:
# Type some code here:
people.values()

dict_values(['Luciano Gabbanelli', 38, 'Buenos Aires', 'physicist', 1.69, False, ['Eze', 'Dami', 'Nadia'], {'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30}])

### Obtain all items

The `item()` method gives keys and values as 2-dimensional tuples in a list. This method is useful to iterate through pairs.

Changes in the dictionary will apply to items as well.

In [18]:
# Type some code here:
people.items()

dict_items([('name', 'Luciano Gabbanelli'), ('age', 38), ('city_of_birth', 'Buenos Aires'), ('education', 'physicist'), ('height', 1.69), ('has_children', False), ('friends', ['Eze', 'Dami', 'Nadia']), ('occupation', {'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30})])

### Check if key exists

To determine if a key is present in a dictionary, use the membership operator `in`.

In [19]:
# Type some code here:
if 'city_of_birth' in people:
    print(f"{people['name']} was born in {people['city_of_birth']}")

Luciano Gabbanelli was born in Buenos Aires

### Change values

Besides by referring to a key name 

> Sintax: `dictionary_name['key_name'] = new_value'`,

<br>

one can use the `update()` method to add or change a pair kay:value.

> Sintax: `dictionary_name.update({'key_name':new_value})`

In [20]:
# Type some code here:
people.update({'country_of_birth': 'Argentina'})

In [21]:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30},
 'country_of_birth': 'Argentina'}

- Add a item inside a dictionary which is inside another dictionary

In [8]:
# Type the code here:
people['occupation']['salary'] = 1_000_000

In [23]:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000},
 'country_of_birth': 'Argentina'}

### Remove items

The `pop()` method removes a item with the specified key name.

> Sintax: `dictionary_name.pop('key_name')`

<br>
    
The `popitem()` method removes the last inserted item.

> Sintax: `dictionary_name.popitem()`

<br>

The `del` keyword removes the item with the specified key name.

> Sintax: `del dictionary_name['key_name']`

This method can also delete the dictionary completely.

> Sintax: `del dictionary_name`

<br>

The `clear()` method empties the dictionary.

> Sintax: `dictionary_name.clear()`

In [24]:
# Type the code here:
people.popitem()

('country_of_birth', 'Argentina')

In [25]:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

### Sort a dictionary

Some functions act on any iterable, as we have already seen for lists. Recall the difference between the `reverse()` method and the `reversed()` function.

If you want to sort a dictionary, you can use the `sorted()` function. However, the `sorted()` function returns a sorted list of the specified iterable object. 

> Syntax: `sorted(iterable, key=key, reverse=True|False)`
>
> `iterable`: the sequence to sort, a list, a dictionary, a tuple, etc.
>
> `key`: a function to execute to decide the order. Default is None. Optional.
>
> `reverse`: a boolean. False will sort ascending, True will sort descending. Default is False. Optional.

Strings are sorted alphabetically, and numbers are sorted numerically.

**Note:** You cannot sort a list that contains BOTH string values AND numeric values. 

**Task for you:** Do you see the difference between the `sort()` method seen in the previous notebook and the `sorted()` function? If the answer is no, check it out.

**Task for you:** How does the `sorted()` function work against strings with uppercase and lowercase?

- Sort the `people` dictionary:

In [28]:
# Type the code here:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

In [7]:
people.items()

dict_items([('name', 'Luciano'), ('surname', 'Gabbanelli'), ('age', 38), ('city_of_birth', 'Buenos Aires'), ('education', 'physicist'), ('height', 1.69), ('has_children', False), ('friends', ['Eze', 'Dami', 'Nadia']), ('occupation', {'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30})])

In [11]:
sorted(people.items())

[('age', 38),
 ('city_of_birth', 'Buenos Aires'),
 ('education', 'physicist'),
 ('friends', ['Eze', 'Dami', 'Nadia']),
 ('has_children', False),
 ('height', 1.69),
 ('name', 'Luciano'),
 ('occupation',
  {'name': 'Tech lead',
   'hours_per_week': 40,
   'days_of_vacations': 30,
   'salary': 1000000})]

In [31]:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

In [12]:
# Converting back to a Dictionary:
sorted_people = sorted(people.items())
sorted_people

[('age', 38),
 ('city_of_birth', 'Buenos Aires'),
 ('education', 'physicist'),
 ('friends', ['Eze', 'Dami', 'Nadia']),
 ('has_children', False),
 ('height', 1.69),
 ('name', 'Luciano'),
 ('occupation',
  {'name': 'Tech lead',
   'hours_per_week': 40,
   'days_of_vacations': 30,
   'salary': 1000000})]

In [13]:
type(sorted_people)

list

In [14]:
dict(sorted_people)

{'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'friends': ['Eze', 'Dami', 'Nadia'],
 'has_children': False,
 'height': 1.69,
 'name': 'Luciano',
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

In [15]:
sorted_people

[('age', 38),
 ('city_of_birth', 'Buenos Aires'),
 ('education', 'physicist'),
 ('friends', ['Eze', 'Dami', 'Nadia']),
 ('has_children', False),
 ('height', 1.69),
 ('name', 'Luciano'),
 ('occupation',
  {'name': 'Tech lead',
   'hours_per_week': 40,
   'days_of_vacations': 30,
   'salary': 1000000})]

In [16]:
sorted_people = dict(sorted_people)
sorted_people

{'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'friends': ['Eze', 'Dami', 'Nadia'],
 'has_children': False,
 'height': 1.69,
 'name': 'Luciano',
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

**Task:** Sort the `people` dictionary by its values. As you have seen in the previous task, the `sorted()` function does not work for all types of objects at once. Python does not understand how to compare a number and a string. Change the value types so you can sort the `people` dictionary. If there is no other way, you can delete the entry causing problems.

In [45]:
# Type the code here:
people

{'name': 'Luciano Gabbanelli',
 'age': 38,
 'city_of_birth': 'Buenos Aires',
 'education': 'physicist',
 'height': 1.69,
 'has_children': False,
 'friends': ['Eze', 'Dami', 'Nadia'],
 'occupation': {'name': 'Tech lead',
  'hours_per_week': 40,
  'days_of_vacations': 30,
  'salary': 1000000}}

## Loop through a dictionary

A `for` loop can return the keys of the dictionary.

In [25]:
# Type the code here:
print('key',':','value')
for k in people:
    print(k,':',people[k])

key : value
name : Luciano Gabbanelli
age : 38
city_of_birth : Buenos Aires
education : physicist
height : 1.69
has_children : False
friends : ['Eze', 'Dami', 'Nadia']
occupation : {'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30, 'salary': 1000000}

**Tasks for you:** 
- create a `for` loop to iterate over values (the `values()` method is usefull).
- create another `for` loop to iterate over the keys, but in a different way than before.

In [26]:
# Type the code here:
for v in people.values():
    print(v)

Luciano Gabbanelli
38
Buenos Aires
physicist
1.69
False
['Eze', 'Dami', 'Nadia']
{'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30, 'salary': 1000000}

In [27]:
for k in people.keys():
    print(k)

name
age
city_of_birth
education
height
has_children
friends
occupation

- We can also loop through both keys and values, by using the `items()` method:

In [28]:
# Type the code here:
for k, v in people.items():
    print(f"The key {k} has a value of {v}")

The key name has a value of Luciano Gabbanelli
The key age has a value of 38
The key city_of_birth has a value of Buenos Aires
The key education has a value of physicist
The key height has a value of 1.69
The key has_children has a value of False
The key friends has a value of ['Eze', 'Dami', 'Nadia']
The key occupation has a value of {'name': 'Tech lead', 'hours_per_week': 40, 'days_of_vacations': 30, 'salary': 1000000}

**Tasks for you:** 
- [Here](https://www.w3schools.com/python/python_dictionaries_copy.asp) you can find two methods to copy a dictionary. Try them!


- And [here](https://www.w3schools.com/python/python_dictionaries_nested.asp), a discusion regarding nested dictionaries.


- Create an example, or use the one above, to iterate over a subdictionary within a dictionary. For example, iterate over the `occupation` dictionary, which is inside the `people` dictionary. Find its keys and values.


- In [this link](https://www.w3schools.com/python/python_dictionaries_methods.asp), you have some dictionary methods.


Have fun!