# Dictionaries Task Sheet (solutions)

<img width=80 src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.gif">

<img width=150 src="Images/Assembler.png">

# Important:

- Comment your code explaining what each part does when you consider it.
- We are asking about two types of problems. The first type are solved with code cells, and the second with markdown type cells (where the solution must be thought without executing code cells). This will be indicated in each problem.
- Always respect the format of the solution and the instructions!

# Recommendations:

- There are as many ways to solve a problem as there are people in the world. Find yours!
- Create as many variables as you want. They cost nothing and are worth it for the sake of clarity.
- You can add cells if needed. 
- Remember that there are two types of cells: code and markdown. Use both. Explanations never hurt.
- There are several ways to approach the same problem. Try not to repeat your way of thinking.
- If different syntaxes lead to the same result, explore them.
- Use internet in a smart way. Don't look at how to solve the problem in its entirety; it is better to learn methods that lead your logical reasoning to the solution.
- Once you have a plan to address the problem, try breaking your code into manageable chunks.
- Use `print()` and `type()` functions in the middle of your code to understand what your code is actually doing.

***

## Dictionary builder

Build a dictionary builder algorithm to store the characteristics of a person: first name, second name (if any), first and second surnames, age, gender, email or any key you want. The algorithm will ask you to enter keys as input and will use them as long as the key has not been entered before (remember that dictionaries do not allow duplicates). If the new key already exists, print a message mentioning it and request another one. Next, it will ask you for the values corresponding to the keys. Both fields have to be requested by keyboard. The ingestion concludes by entering a blank key (this message must be attached to the key request so that the user knows how to proceed).

**Finally, solve by programming:**

- Print the number of elements in the dictionary.

- Which word is longer: your first name or your last name? Compare both fields and print a message according to which one has more characters.

- Print all the keys, then all the values, and finally the key and value pairs.

- Taking advantage of the previous item, iterate over the dictionary, check and print if any value contains the letter "m" in upper or lower case.

- A login name is required for the person profile: create a new name using the first three letters of your first name and the second and fourth letters of your last name. Create a new entry in the dictionary with this field.

- Delete all the elements of the dictionary, but not the dictionary itself.

In [10]:
# Type the code here:
your_dictionary = dict()
key_name = input("Introduce a key name (in blanck to finish):")

while key_name != '':
    if not(key_name in your_dictionary):
        value_name = input("Introduce the corresponding value for that key:")
        your_dictionary[key_name] = value_name
    else:
        print('The key you entered already exists. Try another one:')
    key_name = input("Introduce another key (in blanck to finish):")
    
print(your_dictionary)

Introduce a key name (in blanck to finish):name
Introduce the corresponding value for that key:Luciano
Introduce another key (in blanck to finish):second name
Introduce the corresponding value for that key:Baldomero
Introduce another key (in blanck to finish):surname
Introduce the corresponding value for that key:Gabbanelli
Introduce another key (in blanck to finish):age
Introduce the corresponding value for that key:18
Introduce another key (in blanck to finish):mail
Introduce the corresponding value for that key:l.gabbanelli@assemblerschool.com
Introduce another key (in blanck to finish):
{'name': 'Luciano', 'second name': 'Baldomero', 'surname': 'Gabbanelli', 'age': '18', 'mail': 'l.gabbanelli@assemblerschool.com'}

In [11]:
len(your_dictionary)

5

In [12]:
if len(your_dictionary['name']) > len(your_dictionary['surname']):
    print(f"First name is longer than last name.")
elif len(your_dictionary['name']) == len(your_dictionary['surname']):
    print('Name and surname are the same length.')
else:
    print("The last name is longer than the first name.")

The last name is longer than the first name.

In [13]:
your_dictionary.keys()

dict_keys(['name', 'second name', 'surname', 'age', 'mail'])

In [14]:
your_dictionary.values()

dict_values(['Luciano', 'Baldomero', 'Gabbanelli', '18', 'l.gabbanelli@assemblerschool.com'])

In [15]:
your_dictionary.items()

dict_items([('name', 'Luciano'), ('second name', 'Baldomero'), ('surname', 'Gabbanelli'), ('age', '18'), ('mail', 'l.gabbanelli@assemblerschool.com')])

In [16]:
for key, value in your_dictionary.items():
    if ("m" in value) or ("M" in value):
        print(key, ' : ', value)

second name  :  Baldomero
mail  :  l.gabbanelli@assemblerschool.com

In [17]:
your_dictionary['login_name'] = your_dictionary['name'][0:3] + your_dictionary['surname'][0] + your_dictionary['surname'][2]

In [19]:
your_dictionary

{'name': 'Luciano',
 'second name': 'Baldomero',
 'surname': 'Gabbanelli',
 'age': '18',
 'mail': 'l.gabbanelli@assemblerschool.com',
 'login_name': 'LucGb'}

In [20]:
your_dictionary.clear()

In [21]:
your_dictionary

{}

## Operate on items in a dictionary

- Write an algorithm to sum all samples in the following dictionary.
- And write another one to multiply all the items in a dictionary.
- The keys have spaces. Spaces are generally unwanted characters for names. Replace them by underscores, i.e. `_`.

*(Solution 1: 416, Solution 2: 20_424_000)*

In [70]:
dict_data = {'sample 1':100, 'sample 2': -37, 'sample 3': 368, 'sample 4': -15}

In [71]:
# Type the code here:
print(sum(dict_data.values()))

416

In [72]:
result=1
for key in dict_data:    
    result = result * dict_data[key]

print(result)

20424000

In [77]:
dict_data = { k.replace(' ', '_'): v for k, v in dict_data.items() }
dict_data

{'sample_1': 100, 'sample_2': -37, 'sample_3': 368, 'sample_4': -15}

## Inversion of a dictionary. 

**What if I want the keys to be the values and the values to be the keys?**

Your group is conducting an analysis of the population in some of the most populous cities in the world. They have managed to extract the data into a dictionary, but this dictionary is inverted for the purposes for which it is needed. 

a. How many elements does the dictionary have?

b. Make the dictionary have the names of the cities as keys and their population as value.

c. Sort the dictionary alphabetically.

In [22]:
city_population = {
    37_435_191: 'Tokyo',
    21_846_507: 'Sao Paulo',
    20_484_965: 'Cairo',
    15_636_243: 'Istanbul' ,
    15_369_919: 'Buenos Aires',
    14_406_059: 'Manila',
    12_640_818: 'Moscow',
    8_930_002: 'New York City',
    6_713_557: 'Madrid',
    6_065_354: 'Johannesburg',
    5_658_472: 'Barcelona',
    4_297_877: 'Rome',
    3_452_315: 'Asuncion'
}

In [23]:
# Type the code here:
len(city_population)

13

Any of the following three possibilities:

In [25]:
city_population_inv = {v: k for k, v in city_population.items()}
city_population_inv

{'Tokyo': 37435191,
 'Sao Paulo': 21846507,
 'Cairo': 20484965,
 'Istanbul': 15636243,
 'Buenos Aires': 15369919,
 'Manila': 14406059,
 'Moscow': 12640818,
 'New York City': 8930002,
 'Madrid': 6713557,
 'Johannesburg': 6065354,
 'Barcelona': 5658472,
 'Rome': 4297877,
 'Asuncion': 3452315}

In [27]:
city_population_inv = dict((v, k) for k, v in city_population.items())
city_population_inv

{'Tokyo': 37435191,
 'Sao Paulo': 21846507,
 'Cairo': 20484965,
 'Istanbul': 15636243,
 'Buenos Aires': 15369919,
 'Manila': 14406059,
 'Moscow': 12640818,
 'New York City': 8930002,
 'Madrid': 6713557,
 'Johannesburg': 6065354,
 'Barcelona': 5658472,
 'Rome': 4297877,
 'Asuncion': 3452315}

In [28]:
for (k,v) in city_population.items():
    city_population_inv[v] = k
city_population_inv

{'Tokyo': 37435191,
 'Sao Paulo': 21846507,
 'Cairo': 20484965,
 'Istanbul': 15636243,
 'Buenos Aires': 15369919,
 'Manila': 14406059,
 'Moscow': 12640818,
 'New York City': 8930002,
 'Madrid': 6713557,
 'Johannesburg': 6065354,
 'Barcelona': 5658472,
 'Rome': 4297877,
 'Asuncion': 3452315}

In [29]:
city_population_inv = dict(sorted(city_population_inv.items()))

In [30]:
city_population_inv

{'Asuncion': 3452315,
 'Barcelona': 5658472,
 'Buenos Aires': 15369919,
 'Cairo': 20484965,
 'Istanbul': 15636243,
 'Johannesburg': 6065354,
 'Madrid': 6713557,
 'Manila': 14406059,
 'Moscow': 12640818,
 'New York City': 8930002,
 'Rome': 4297877,
 'Sao Paulo': 21846507,
 'Tokyo': 37435191}

## Concatenation of dictionaries

Write a Python program to concatenate the following dictionaries to create a new one.

`dict_1 = {'module_1' : {'Python', 'R'}, 'module_2': {'R', 'PostgreSQL', 'Databricks'}}`

`dict_2 = {'module_3' : {'MongoDB', 'Neo4j', 'Pentaho'}, 'module_4': {'MongoDB', 'Anaconda', 'Amazon SageMaker'}}`

`dict_3 = {'module_5' : {'Tensor Flow'}, 'module_6': {'Final project'}}`

In [60]:
# Type the code here:
dict_1 = {'module_1' : {'Python', 'R'}, 'module_2': {'R', 'PostgreSQL', 'Databricks'}}
dict_2 = {'module_3' : {'MongoDB', 'Neo4j', 'Pentaho'}, 'module_4': {'MongoDB', 'Anaconda', 'Amazon SageMaker'}}
dict_3 = {'module_5' : {'Tensor Flow'}, 'module_6': {'Final project'}}

print(dict_1,dict_2,dict_3, sep='\n')

{'module_1': {'Python', 'R'}, 'module_2': {'PostgreSQL', 'R', 'Databricks'}}
{'module_3': {'Neo4j', 'MongoDB', 'Pentaho'}, 'module_4': {'Anaconda', 'MongoDB', 'Amazon SageMaker'}}
{'module_5': {'Tensor Flow'}, 'module_6': {'Final project'}}

In [62]:
dict_4 = {}
for d in (dict_1,dict_2,dict_3): dict_4.update(d)
dict_4

{'module_1': {'Python', 'R'},
 'module_2': {'Databricks', 'PostgreSQL', 'R'},
 'module_3': {'MongoDB', 'Neo4j', 'Pentaho'},
 'module_4': {'Amazon SageMaker', 'Anaconda', 'MongoDB'},
 'module_5': {'Tensor Flow'},
 'module_6': {'Final project'}}

## Nested dictionaries to catalog satellites in orbit around the Earth

On this [web page](https://www.visualcapitalist.com/visualizing-all-of-earths-satellites/), you can be updated on the status of the satellites that surround us on Earth.

We are interested in documenting the number of satellites in orbit *per* company. This information can be found in the last table in section "Every Commercial Satellite in One Table" of the following article:

<br/>

<center>
https://www.visualcapitalist.com/visualizing-all-of-earths-satellites/
</center>

<br/>

The information is required to be organized in such a way that each sub-dictionary mentioned below is an element of a biger dictionary called `dict_of_satellites`. The name of each sub-dictionary is the key, and its value is the dictionary itself.

**The preparation of the sub-dictionaries goes as follows:**

**a)** Create a list of tuples where the first element of the tuple is the name of the satellite owner/operator, the second element is the number of satellites it operates, and the third the corresopnging country of operator/owner; e.g.


| Operator | Number | Country | |
| :-- | :-: | :-: | :-- |
| SpaceX | 358 | USA | $\quad$ This 3 elements belong to the 1st tuple of the list |
| Planet Labs, Inc. | 246 | USA | $\quad$  This 3 elements belong to the 2nd tuple of the list |
| Spire Global Inc. | 89 | USA | $\quad$  3rd tuple |
| Iridium Communications, Inc. | 78 | USA | $\quad$  4th tuple |
| OneWeb Satellites | 74 | United Kingdom | $\quad$  etc. |
| SES S.A. | 51 | Luxembourg | $\quad$  ... |
| Intelsat S.A. | 51 | USA | $\quad$  ... |
| ORBCOMM Inc. | 35 | USA | $\quad$  ... |
| DoD/US Air Force | 33 | USA | $\quad$  ... |
| EUTELSAT Americas | 33 | Multinational | $\quad$  ... |
| ... | ... | ... | $\quad$  ... |
| Chang Guang Satellite Technology Co. Ltd.	| 15 | China |$\quad$  This 3 elements belong to the last tuple of the list |

<br/>

Each entry has to be a tuple of a list named `list_of_satellites`. Store the first 15 entries of the mentioned table.

You will need to operate on the data entered, so consider the best way to store numbers and names.


**b)** Next, write an algorithm that receives the created list of tuples, and returns a dictionary where the keys are the first elements of the tuples (company names) and the values are the second (number of satellites). This will be the `dict_of_companies` dictionary.


**c)** 
The second dictionary (or sub-dictionary) to be created will be called `dict_of_countries`. The corresponding key will be the country of the  owner of the satellites and the value, the total number of satellites belonging to the corresponding country (i.e. the sum of satellites of all the companies of each country).

This is: `dict_of_countries = {'USA':358+246+89+...(=922), 'United Kingdom':74+... (=94), 'Luxembourg': 51,`

Optimize the addition of the number of satellites per country with control flow operators. 


**d)** The third and last dictionary is the most difficult. This dictionary will store the country (as key) and all companies belonging to that country (as values). The values must have the following structure: if the country has only one company, this value must be a string. If there is more than one company operating in that country, then the value for that country (as key) will be a list of all corresponding countries. To be explicit and to leave no doubt, the first entries in this dictionary should be:

`dict_of_countries_companies = {'USA': ['SpaceX', 'Planet Labs, Inc.', ...], 'United Kingdom': ['OneWeb Satellites',...], 'Luxembourg': 'SES S.A.', ...}`

In [48]:
# Type the code here:
list_of_satellites = [('SpaceX',358,'USA'), ('Planet Labs, Inc.',246,'USA'), 
                      ('Spire Global Inc.',89, 'USA'), ('Iridium Communications, Inc.',78,'USA'), 
                      ('OneWeb Satellites',74,'United Kingdom'), ('SES S.A.',51,'Luxembourg'),
                      ('Intelsat S.A.',51,'USA'), ('ORBCOMM Inc.',35,'USA'),
                      ('DoD/US Air Force',33,'USA'), ('EUTELSAT Americas',33,'Multinational'),
                      ('Ministry of Defense',33,'Egypt'), ('Globalstar',32,'USA'), 
                      ('European Space Agency (ESA)',26,'ESA'), ('O3b Networks Ltd.',20,'United Kingdom'), 
                      ('Chang Guang Satellite Technology Co. Ltd.',15,'China')]

In [49]:
list_of_satellites

[('SpaceX', 358, 'USA'),
 ('Planet Labs, Inc.', 246, 'USA'),
 ('Spire Global Inc.', 89, 'USA'),
 ('Iridium Communications, Inc.', 78, 'USA'),
 ('OneWeb Satellites', 74, 'United Kingdom'),
 ('SES S.A.', 51, 'Luxembourg'),
 ('Intelsat S.A.', 51, 'USA'),
 ('ORBCOMM Inc.', 35, 'USA'),
 ('DoD/US Air Force', 33, 'USA'),
 ('EUTELSAT Americas', 33, 'Multinational'),
 ('Ministry of Defense', 33, 'Egypt'),
 ('Globalstar', 32, 'USA'),
 ('European Space Agency (ESA)', 26, 'ESA'),
 ('O3b Networks Ltd.', 20, 'United Kingdom'),
 ('Chang Guang Satellite Technology Co. Ltd.', 15, 'China')]

In [50]:
len(list_of_satellites)

15

In [51]:
dict_of_companies = {}
for (i,x,z) in list_of_satellites:
    dict_of_companies[i] = x

In [52]:
dict_of_companies

{'SpaceX': 358,
 'Planet Labs, Inc.': 246,
 'Spire Global Inc.': 89,
 'Iridium Communications, Inc.': 78,
 'OneWeb Satellites': 74,
 'SES S.A.': 51,
 'Intelsat S.A.': 51,
 'ORBCOMM Inc.': 35,
 'DoD/US Air Force': 33,
 'EUTELSAT Americas': 33,
 'Ministry of Defense': 33,
 'Globalstar': 32,
 'European Space Agency (ESA)': 26,
 'O3b Networks Ltd.': 20,
 'Chang Guang Satellite Technology Co. Ltd.': 15}

In [55]:
dict_of_countries = dict()

for (i,x,z) in list_of_satellites:
    if z in dict_of_countries:
        x = x + dict_of_countries.get(z)
    dict_of_countries[z] = x

dict_of_countries

{'USA': 922,
 'United Kingdom': 94,
 'Luxembourg': 51,
 'Multinational': 33,
 'Egypt': 33,
 'ESA': 26,
 'China': 15}

In [57]:
dict_of_countries_companies = dict()

for (i,x,z) in list_of_satellites:
    if (z in dict_of_countries_companies) and (type(dict_of_countries_companies.get(z))==str):
        i = [dict_of_countries_companies.get(z), i]
    
    elif (z in dict_of_countries_companies) and (type(dict_of_countries_companies.get(z))==list):
        dict_of_countries_companies.get(z).append(i)
        i = dict_of_countries_companies.get(z)

    dict_of_countries_companies[z] = i

In [58]:
dict_of_countries_companies

{'USA': ['SpaceX',
  'Planet Labs, Inc.',
  'Spire Global Inc.',
  'Iridium Communications, Inc.',
  'Intelsat S.A.',
  'ORBCOMM Inc.',
  'DoD/US Air Force',
  'Globalstar'],
 'United Kingdom': ['OneWeb Satellites', 'O3b Networks Ltd.'],
 'Luxembourg': 'SES S.A.',
 'Multinational': 'EUTELSAT Americas',
 'Egypt': 'Ministry of Defense',
 'ESA': 'European Space Agency (ESA)',
 'China': 'Chang Guang Satellite Technology Co. Ltd.'}